In [33]:
import pandas as pd
import numpy as np

Q1. Pandas version

What's the version of Pandas that you installed?

In [10]:
pd.__version__

'2.1.3'

Q2. Records count

How many records are in the dataset?

In [11]:
url ="https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv"

data = pd.read_csv(url)

In [18]:
print(f"There are a total of {data.shape[0]} records in the dataset")

There are a total of 2160 records in the dataset

Q3. Laptop brands

How many laptop brands are presented in the dataset?

In [19]:
data.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [23]:
print(f"There are a total of {data["Brand"].nunique()} laptop brands in the dataset.")

There are a total of 27 laptop brands in the dataset.

Q4. Missing values

How many columns in the dataset have missing values?

In [26]:
col_with_null = data.isnull().sum()[data.isnull().sum()>0].shape[0]


print(f"Number of columns with missing values: {col_with_null}")

Number of columns with missing values: 3

Q5. Maximum final price

What's the maximum final price of Dell notebooks in the dataset?

In [28]:
dell_data = data[data['Brand'] == 'Dell']
print(f"The maximum final price of Dell notebooks is: {dell_data['Final Price'].max()}")

The maximum final price of Dell notebooks is: 3936.0

Q6. Median value of Screen

Find the median value of Screen column in the dataset.
Next, calculate the most frequent value of the same Screen column.
Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
Now, calculate the median value of Screen once again.
Has it changed?

Hint: refer to existing mode and median functions to complete the task.

In [31]:
median_before = data["Screen"].median()
print(f"Original median of the Screen column: {median_before}")

print(f"Most frequent value in the Screen column: {data["Screen"].mode()[0]}")

data["Screen"].fillna(most_frequent_screen, inplace=True)
median_after = data["Screen"].median()
print(f"Median of the Screen column after filling missing values: {median_after}")

if median_before == median_after:
    print("The median has not changed.")
else:
    print("The median has changed.")

Original median of the Screen column: 15.6
Most frequent value in the Screen column: 15.6
Median of the Screen column after filling missing values: 15.6
The median has not changed.

Q7. Sum of weights

Select all the "Innjoo" laptops from the dataset.

Select only columns RAM, Storage, Screen.

Get the underlying NumPy array. Let's call it X.

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

Compute the inverse of XTX.

Create an array y with values [1100, 1300, 800, 900, 1000, 1100].

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the sum of all the elements of the result?

Note: You just implemented linear regression. We'll talk about it in the next lesson.

In [39]:
# Filter for "Innjoo" laptops and Select only the columns RAM, Storage, Screen
innjoo_laptops = data[data['Brand'] == 'Innjoo']
innjoo_laptops = innjoo_laptops[['RAM', 'Storage', 'Screen']]

#NumPy array and transpose of X
X = innjoo_laptops.to_numpy()
X_T = X.T

# Compute matrix-matrix multiplication and inverse of XTX
XTX = X_T @ X
XTX_inv = np.linalg.inv(XTX)

# Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100])

#Compute the matrix multiplication
w = XTX_inv @ X_T @ y

#sum of all elements in w
sum_w = np.sum(w)

print(f"The sum of all elements in the result is: {sum_w}")

The sum of all elements in the result is: 91.29988062995588